COMPOSE_PROJECT_NAME=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_KEYCLOAK_DB=
POSTGRES_NOTIFY_DB=
DATABASE_URL=
ADA_NOTIFY_DATABASE_URL=
DB_POOL_SIZE=
DB_MAX_OVERFLOW=
DB_POOL_TIMEOUT=
DB_POOL_RECYCLE=
DB_POOL_PRE_PING=
REDIS_PASSWORD=
REDIS_HOST_PORT=
KC_BOOTSTRAP_ADMIN_USERNAME=
KC_BOOTSTRAP_ADMIN_PASSWORD=
KC_HTTP_PORT=
KC_HTTP_HOST_PORT=
KC_HOSTNAME=
KC_HTTP_RELATIVE_PATH=
KC_MANAGEMENT_PORT=
ADA_REALM=
ADA_ISSUER=
ADA_INTERNAL_ISSUER_URL=
ADA_AUTH_CLIENT_SECRET=
ADA_NOTIFY_CLIENT_SECRET=
ADA_ML_CLIENT_SECRET=
ADA_GOOGLE_CLIENT_ID=
ADA_GOOGLE_CLIENT_SECRET=
ADA_GOOGLE_HOSTED_DOMAIN=
ADA_GITHUB_CLIENT_ID=
ADA_GITHUB_CLIENT_SECRET=
ADA_ENV=
ADA_LOG_LEVEL=
ADA_AUTH_PORT=
ADA_OTP_HMAC_KEY=
ADA_SMS_PROVIDER=
ADA_TWOFACTOR_API_KEY=
ADA_TWOFACTOR_TEMPLATE=
ADA_OTP_PHONE_ATTRIBUTE=
ADA_OTP_REVEAL_UNKNOWN_PHONE=
ADA_DEV_OTP=
ADA_ALLOW_OTP_DEV_BYPASS=
ADA_EMAIL_OTP_PROVIDER=
ADA_AUTH_SMTP_HOST=
ADA_AUTH_SMTP_PORT=
ADA_AUTH_SMTP_USERNAME=
ADA_AUTH_SMTP_PASSWORD=
ADA_AUTH_SMTP_STARTTLS=
ADA_AUTH_SMTP_SSL=
ADA_AUTH_EMAIL_FROM=
ADA_AUTH_EMAIL_FROM_NAME=

ADA_OTP_REVEAL_UNKNOWN_EMAIL=

ADA_NOTIFY_PORT=
ADA_REQUIRED_SCOPE=

ADA_EMAIL_PROVIDER=

ADA_SMTP_HOST=
ADA_SMTP_PORT=
ADA_SMTP_USERNAME=
ADA_SMTP_PASSWORD=

ADA_SMTP_STARTTLS=
ADA_SMTP_SSL=
ADA_EMAIL_FROM=
ADA_EMAIL_FROM_NAME=
ADA_ADMIN_CLIENT_ID=
MAILPIT_HTTP_PORT=
MAILPIT_SMTP_PORT=

KC_SMTP_HOST=
KC_SMTP_PORT=
KC_SMTP_FROM=
KC_SMTP_FROM_DISPLAY_NAME=
KC_SMTP_USERNAME=
KC_SMTP_PASSWORD=
KC_SMTP_STARTTLS=
KC_SMTP_SSL=

BACKEND_PORT=
OIDC_CLIENT_ID=
APP_ORIGIN=
FRONTEND_PORT=


ML_PORT=
ML_SERVICE_URL=
ADA_DATA_PATH=
ML_SERVICE_TOKEN=
LOG_LEVEL=
NOTIFY_ENABLED=
NOTIFY_URL=
NOTIFY_CLIENT_ID=
AUTO_FETCH_WEIGHTS=
AUTO_SAMPLE_DATA=

MODEL_MODE=
SEED_MODE=
SAM_REFINE=
ML_DEVICE=
REQUIRE_GPU=

GPU_MEMORY_LIMIT_GB=
HOST_MEMORY_LIMIT_GB=

MODEL_BACKEND=
CHIP_SIZE=
CHIP_OVERLAP=
CHANGE_THRESHOLD=
MIN_CHANGE_AREA_M2=

REQUEUE_STALE_ON_STARTUP=

HF_TOKEN=
